dl {
  border: 1px dotted;
  display: flex;
  flex-flow: row wrap;
  margin: 0 19%;
  padding: 0.5em;
  width: 62%;
}

dd {
  flex-basis: 80%;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

dd p {
  display: inline;
}

dt {
  flex-basis: 20%;
  font-variant: small-caps;
  margin: 0;
  padding: 0;
}

dt::after {
  content: ":";
}

figure {
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
}

h1 {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-variant: small-caps;
}

h2, h3, h4, h5, h6, p, ul {
    margin-left: 10%;
    margin-right: 10%;
}

html {
  color-scheme: light dark;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
}

tbody tr {
  border: 1px;
  border-style: solid none;
}

thead tr {
  border: none;
}
